<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
  <title>xkazer</title>
</head>
<body>
  <script src="js/rain.js"></script>
  <canvas id="ad"></canvas>
  <div class="app">
    <header>
      <nav>
        <img class="header">
        <ul>
          <li><a href="#">关于</a></li>
          <li><a href="doc/note.html">笔记</a></li>
          <li><a href="doc/study.html">学习</a></li>
          <li><a href="home.html">导航</a></li>
        </ul>
      </nav>
    </header>
    <div class="video-container">
      <video id="logo-video" autoplay muted loop>
        <source src="mp4/logo.mp4" type="video/mp4">
        您的浏览器不支持视频播放。
      </video>
    </div>
    <div class="markdown">
      <!--%MARKDOWN%-->
    </div>
  </div>
  <footer>
    <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2022072679号-1</a>
  </footer>
</body>
</html>