
.secret {
  color: #fff;
}

.header h6 {
  margin-top: 15px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.nav .row {
  margin: 5px 0;
}

.nav ul {
  display: block;
}

.nav li {
  display: inline;
  margin: 0 10px;
}

.nav li.header {
  position: absolute;
  left: 10%;
  font-weight: 800;
}

.nav li.header, .nav li.header a {
  color: #6699CC;
}

.nav .title {
  display: block;
  text-align: left;
  background-color: #dee2e6;
}