
.secret {
  color: #fff;
}

.header h6 {
  margin-top: 15px;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.nav .row {
  margin: 5px 0;
}

.nav ul {
  display: block;
}

.nav li {
  display: inline;
  margin: 0 10px;
}

.nav li.header {
  position: absolute;
  left: 10%;
  font-weight: 800;
}

.nav li.header, .nav li.header a {
  color: #000;
  background: rgba(255, 255, 255, 0.5);
}

.nav .title {
  display: block;
  text-align: left;
  background-color: #dee2e6;
}

.left-flower {
  top: -5%;
  width: 30%;
  opacity: 0.8;
  content: url('../png/lflower.png');
}

.woman {
  bottom: 0;
  right: 6%;
  opacity: 0.8;
  content: url('../png/woman.png');
}

div.bg {
  position: absolute;
  z-index: 1;
}

div.nav {
  position: relative;
  z-index: 2;
}