
/** 通用 */
div.app {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.main {
  text-align: center;
}

input[type="button"] {
  margin: 0;
  padding: 0;
  border: none;
}

/** 搜索区 */
div.search-form {
  position: relative;
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

select.search-type {
  appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  background-position: 0.5em;
  padding-left: 2.5em;
  border: none;
  min-width: 8em;
}

select.search-type[type="baidu"] {
  background-image: url("http://www.baidu.com/favicon.ico");
}
select.search-type[type="bing"] {
  background-image: url("http://www.bing.com/favicon.ico");
}
select.search-type[type="google"] {
  background-image: url("http://www.google.com/favicon.ico");
}

div.search-form .search-ico {
  margin-top: 0.5em;
  margin-left: 0.5em;
  width: 2em;
  height: 2em;
  background-image: url('https://www.bing.com/favicon.ico');
  background-size: contain;
}

div.search-form .search-text {
  flex: 1;
  border-radius: 1.5em;
  padding-left: 2em;
  padding-right: 4em;
}

div.search-form .search-btn {
  position: absolute;
  right: 1em;
  top: 18px;
  transform: translateY(-50%);
  width: 2em;
  height: 2em;
  background-image: url('../png/search.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 2;
}

/** 导航区 */
ul.categorys li {
  display: inline-block;
}

ul.categorys li:focus-within ul.link {
  display: block;
}

ul.link {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  justify-content: center;
}

ul.link li {
  margin: 0 2em;
  padding-left: 2em;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  bac
}

button.category {
    color: #90caf9;
}