
/** 全局 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: overline;
}

/** 标题菜单样式 */
header nav ul {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
header nav ul li {
  float: right;
  margin: 0;
  margin-right: 20px;
  z-index: 10;
}

header nav ul li a, header nav ul li a:hover {
  color: #90caf9;
  font-size: 1em;
  font-weight: 600;
  line-height: 2.5em;
}

header nav ul li:nth-child(odd){
  margin-top: 2.5em;
}

header nav ul li:nth-child(odd) a{
  color: #fff;
}

/** 主页图片 */
header nav img.header {
  position: absolute;
  left: 0;
  top: 2.5em;
  width: 100%;
  z-index: 5;
}

/** Markdown列表样式 */
div.markdown {
  position: absolute;
  width: 100%;
  top: calc(56.25% + 2.5em);
}

div.markdown .title {
  text-align: right;
}
div.markdown a {
  display: block;
}
div.markdown a:hover {
  text-decoration: underline;
}

/** 底部 */
footer {
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  text-align: center;
}

footer a, footer a:hover, footer a:active {
  color: #aaa;
  font-size: 0.4em;
}

/** 最小尺寸 */
div.app {
  position: relative;
  width: 80vw;
  height: 100vh;
  font-size: 1em;
}