
/** 全局 */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: overline;
}

/** 标题菜单样式 */
header {
  height: 10em;
  background-position-y: 10em;
  background-image: linear-gradient(to bottom, #fff 25%, #000 20%, #77f, #aaf, #fff);
  border-radius: 0 0 9em 0;
}

header nav ul {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
header nav ul li {
  float: right;
  margin: 0;
  margin-right: 1em;
  z-index: 10;
}

header nav ul li a, header nav ul li a:hover {
  color: #000;
  font-size: 1em;
  font-weight: 600;
  line-height: 2.5em;
}

header nav ul li:nth-child(odd){
  margin-top: 2.5em;
}

header nav ul li:nth-child(odd) a{
  color: #fff;
}

/** 主页标题 */
header nav div.title {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  padding-left: 1em;
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px 2px black;
  background-image: url(../png/logo.png);
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: left 70%;
  z-index: 10;
}

header nav div.title a, header nav div.title a:hover, header nav div.title a:active {
  color: #fff;
  text-decoration: none;
}

/** Markdown列表样式 */
div.markdown {
  width: 100%;
  background-color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}
div.markdown ul {
  background-color: rgba(69,142,209,.04);
}
div.markdown .title {
  text-align: right;
}
div.markdown a {
  display: block;
  margin: 1em;
}
div.markdown a:hover {
  text-decoration: underline;
}

/** Markdown样式 */
h2, h3{
  text-align: center;
}
h2, h3, h4, h5, h6 {
  color: #00f;
}

blockquote {
  background-color: #2333;
}

p {
  text-indent: 2em;
  margin: 0;
  padding: 0;
}

img {
  max-width: calc(100% - 40px);
}

p::first-letter {
  font-weight: 600;
}

/** 最小尺寸 */
div.app {
  position: relative;
  min-width: 640px;
  width: 640px;
  height: 480px;
  font-size: 10px;
  background-color: #fff;
}

@media (min-width: 960px) {
  div.app {
    position: relative;
    width: 960px;
    height: 540px;
    font-size: 1em;
  }
}

@media (min-width: 1280px) {
  div.app {
    position: relative;
    width: 1280px;
    height: 720px;
    font-size: 1.25em;
  }
}